@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
* {
	font-family: 'Source Sans Pro';
	margin: 0 auto;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(../images_turen/cs_web_baggrund_potraet-12345.jpg);
}
#section {
	padding-top: 0vw;
	height: 100%;
	width: 100%;
	color: #fff;
	/*	background-color: #1E88E5;
	*/
}

#section1 {
	padding-top: 0vw;
	height: 100%;
	width: 100%;
	color: #fff;
	/*	background-color: #1E88E5;
	*/
}

#section2 {
	padding-top: 0vw;
	height: 100%;
	width: 100%;
	color: #fff;
	/*	background-color: #1E88E5;
	*/
}

#section3 {
	padding-top: 0vw;
	height: 100%;
	color: #fff;
	/*	background-color: #ff9800;*/
}
/*
.login form {
		padding-left: 1vw;
		color: white;
		display: inline-flex;
		top: 30vw;
	}
*/
.video{
	margin-left: 5vw;
	background-size: 100%;
	height: 400px;
	width: 600px;
	background-color: black;
	color:white;
}
/*
	.loginoverskrift {
		top: 1vw;
	}
*/
	/*
		.pingvin img {
		height: 37vw;
		padding-top: 5%;
	}
*/
	.logologin {
		height: 100%;
		background-size: 100%;
		background-image: url(../images_turen/cs_web_baggrund_potraet-12345.jpg);
		background-repeat: no-repeat;
	}
.logologin1 img{
		padding-top: 12vw;
		height: 100%;
	width: 100%;
		background-repeat: no-repeat;
	}
.logologin2 img{
		height: 80%;
	width: 80%;
		background-repeat: no-repeat;
	}
/*
.likontaktinfo {
	margin-top: 7vw;
}
*/

.r-responsive {
	padding-top: 1vw;
	width: 100%;
	padding-top: 1vw;
	height: 100%;
}

.re-responsive {
	padding-top: 1vw;
	width: 100%;
	height: 100%;
}

.res-responsive {
	padding-top: 1vw;
	width: 100%;
	height: 100%;
}

.turene {
	padding-top: 1vw;
	width: 100%;
	height: 100%;
}

guider {
	padding-top: 1vw;
	width: 100%;
	height: 100%;
}

a {
	color: grey;
}

.nav {
	font-size: 4vw;
}

.navbar {
	background-color: rgba(72, 38, 37, 0.52);
}

ul {
	margin-bottom: 1vw;
	margin-top: 1vw;
	font-size: 2.5vw;
}

#myNavbar ul li a {
	color: rgb(221, 146, 34);
}

ol {
	color: #000;
}

p {
	font-family: 'Source Sans Pro';
	padding-left: 1vw;
	font-size: 2vw;
	color: rgb(72, 58, 37);
}

h1 {
	font-family: 'Source Sans Pro';
	padding: 2vw 2vw 2vw 2vw;
	font-size: 8vw;
	color: rgb(255, 255, 255);
}

h3 {
	font-family: 'Source Sans Pro';
	padding: 2vw 2vw 2vw 2vw;
	font-size: 5vw;
	color: rgb(255, 255, 255);
	text-shadow: 5px;
}

h4 {
	font-family: 'Source Sans Pro';
	font-size: 4vw;
	padding-left: 11vw;
	padding-bottom: 1vw;
	color: rgb(0, 0, 0);
}

h5 {
	font-family: 'Source Sans Pro';
	font-size: 1.5vw;
	padding-bottom: 1vw;
	color: rgb(0, 0, 0);
}

.panel a {
	color: aliceblue;
}

.panel:hover a {
	color: black;
	text-decoration: none;
}
.panel-default {
	border-color: rgba(0, 0, 0, 0);
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0);
	border-top: 0px;
}


.panel-default .panel-heading {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	padding: 0;
}

.element .style a {
	color: black;
}

.bg-danger {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

.bg-success {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}



.panel {
	background-color: rgba(0, 0, 0, 0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}

.panel p {
	margin: 0;
}

table {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

.samlogo {
	margin-top: 2vw;
}

.pic1 {
	width: 155px;
	height: 155px;
	background: url(../images_turen/cs_partiring_alternativet.png);
	border-radius: 50%;
}

.text1 {
	transition: ease-in-out 1s;
	padding-top: 10px;
	width: 155px;
	height: 155px;
	background: #ffffff;
	opacity: 0;
}

.pic1:hover .text1 {
	padding-top: 25px;
	opacity: 0.9;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	border-radius: 20%;
}
.pic2 {
	background: url(../images_turen/cs_partiring_dansk_folkeparti.png);
}
.pic3 {
	background: url(../images_turen/cs_partiring_enhedslisten.png);
}
.pic4 {
	background: url(../images_turen/cs_partiring_guldborgssundlisten.png);
}
.pic5 {
	background: url(../images_turen/cs_partiring_konservative_folkeparti.png);
}
.pic6 {
	background: url(../images_turen/cs_partiring_kristendemokraterne.png);
}
.pic7 {
	background: url(../images_turen/cs_partiring_lbeiral_aliance.png);
}
.pic8 {
	background: url(../images_turen/cs_partiring_oerige.png);
}
.pic9 {
	background: url(../images_turen/cs_partiring_radikale_venstre.png);
}
.pic10 {
	background: url(../images_turen/cs_partiring_slesvigskparti.png);
}
.pic11 {
	background: url(../images_turen/cs_partiring_socialdemokratiet.png);
}
.pic12 {
	background: url(../images_turen/cs_partiring_venstre.png);
}
input {
	font-size: 3vw;
	color: black;
}

table {
	width: 100%;
}

.some {
	margin-top: 6vw;
	justify-content: space-between;
	padding-right: 0vw;
	padding-left: 0vw;
	display: flex;
}

.some ul img {
	width: 10%;
	border-radius: 30%;
	border: 2px solid #fff;
}

footer {
	background-color: black;
}

.rowoverfotter {
	color: #fff;
	background-color: #000;
}


#map {
	height: 40vw;
	margin-top: 2vw;
}



@media screen and (min-width: 767px) and (orientation: landscape) {
	body {
		position: relative;
		background-image: url(../images_turen/cs_web_baggrund_landskab_light.jpg);
	}
	.logologin {
		height: 100%;
		background-size: 100%;
		background-image: url(../images_turen/cs_web_baggrund_landskab_light.jpg);
		background-repeat: no-repeat;
	}
.logologin1 img{
		padding-top: 10vw;
		height: 100%;
	width: 100%;
		background-repeat: no-repeat;
	}
.logologin2 img{
	padding-top: 6vw;
		height: 100%;
	width: 100%;
		background-repeat: no-repeat;
	}
	h5{
		font-size: 2.5vw;
	}
	h1 {
		font-family: 'Source Sans Pro';
		padding: 2vw 2vw 2vw 2vw;
		font-size: 6vw;
		color: rgb(255, 255, 255);
	}

/*
	.login form {
		padding-left: 1vw;
		color: white;
		display: inline-flex;
		top: 30vw;
	}
*/
/*
	.loginoverskrift {
		top: 5vw;
	}
*/
	/*
		.pingvin img {
		height: 37vw;
		padding-top: 5%;
	}
*/
/*
	.login {
		padding: 0px;
		height: 100%;
		background-size: 100%;
		background-image: url(../images_turen/cs_web_baggrund_landskab-12345.jpg);
		background-repeat: no-repeat;
		background-color: #ffffff;
	}
*/
	.login img {
		padding-top: 5vw;
		width: 50vw;

	}
	.pil {
		z-index: 10000;
		position: fixed;
		top: 35vw;
		left: 90vw;
		height: 12vw;
		width: 8vw;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	#map {
		height: 30vw;
		padding: 5vw;
	}
}
