@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
* {
	font-family: 'Source Sans Pro';
	margin: 0 auto;
}

body {
	position: relative;
	background-size: 100%;
		width: 100%;
	height: 100%;
	background-size: 100%;
		background-image: url(images_turen/tabletpotrat-768%20x%201024.jpg);
	}
h1 {
	font-family: 'Source Sans Pro';
	padding-bottom: 2vw;
	font-size: 4vw;
	color: rgb(255, 255, 255);
	line-height: 1vw;
}

h5 {
	line-height: 3vw;
	font-family: 'Source Sans Pro';
	font-size: 2.vw;
	padding-bottom: 1vw;
	color: rgb(255, 255, 255);
}
h6{
		font-size: 2.5vw;
		color:white
	}

.logologin1 img{
	margin-top: 9vw;
		height: 100%;
	width: 100%;
		background-repeat: no-repeat;
	}
.logologin2 img{
	height: 100%;
	width: 100%;
	margin-top: 0vw;
	top: 0vw;
		background-repeat: no-repeat;
	}
.chatroom {
	position: absolute;
	background-size: 100%;
	background-image: url(Img/Chatroom8-01.jpg);
	/*	background-size: cover;*/
	width: 100%;
	height:51vw;
	/*	overflow: hidden;
	*/
	margin: 0 auto;
	background-repeat: no-repeat;
}
 h2{
	 font-weight: 500;
	 text-align: center;
	padding: 1vw;
	font-family: 'Source Sans Pro';
	font-size: 2.0vw;
	color:#f51021;
/*	color:#3f0000;*/
}
.barometer {
	height: 3vw;
	position: absolute;
	width: 16vw;
	left: 80vw;
	top: 1vw;
	z-index: 15;
	display: none;
}

.barometerred {
}

.barometergreen {
}

.dialog {
	display: none;
	font-size: 2.7vw;
	position: absolute;
	left: 1vw;
	top: 10vw;
	width: 58vw;
	height: 32vw;
	display: none;
	/*	overflow: hidden;*/
}

.dialog2 {
	display: none;
	left: 1vw;
	position: absolute;
	top: 60vw;
	display: none;
}

.clip {
	width: 2.2vw;
	height: 2.2vw;
}

ul {
	display: none;
	position: absolute;
	list-style-type: none;
	padding: 0;
	bottom: 0;
}

li {
	display: none;
	margin-top: 3vw;
}

.prikker {
	z-index: 25;
	position: absolute;
	top: 140vw;
	left: 2vw;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 15;
	background-image: url(Img/prikker-01.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: prik_kf 0.8s infinite steps(5);
}

@keyframes prik_kf {
	80% {
		background-position: 100% 0;
	}
	81% {
		background-position: 0% 0;
	}
}

.social-nav a{
	z-index: 10;
	color:lightgoldenrodyellow;
}
.aforside{
	transition: ease-in-out 1s;
	background-color: black;
}
.apartiinfo{
	transition: ease-in-out 1s;
	background-color: black;
}
.avalginfo{
	transition: ease-in-out 1s;
	background-color: black;
}
.akonkurrence{
	transition: ease-in-out 1s;
	background-color: black;
}
.akontakt{
	transition: ease-in-out 1s;
	background-color: black;
}

a {
	color: grey;
}

.nav {
	font-size: 2.5vw;
	z-index: 10;
}

.navbar {
	background-color: rgba(72, 38, 37, 0.52);
}

ul {
	margin-bottom: 1vw;
	margin-top: 1vw;
	font-size: 2.5vw;
}

#myNavbar ul li a {
	color: #168f2f;
}

ol {
	color: #000;
}
.info {
	display: none;
	position: absolute;
	top: 2.3vw;
	left: 69vw;
	z-index: 25;
	font-size: 2.7vw;
	color: white;
}

.valg {
	position: absolute;
	left: 56vw;
	top: 128vw;
	width: 40vw;
	height: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.8vw;
	z-index: 10;
}

.mulighed {
	display: none;
	z-index: 0;
	display: none;
	border-radius: 1vw;
	width: 40vw;
	height: 10vw;
	max-width: 100%;
	background-color: rgba(64, 64, 64, 0.7);
	color: white;
	padding: 0.5vw;
	text-align: center;
}

.birgitsvar {
	display: none;
	z-index: 0;
	width: 40vw;
	background-color: rgba(4, 121, 190, 0.7);
}

.mulighed1:hover,
.mulighed2:hover,
.mulighed3:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.mulighed1:active,
.mulighed2:active,
.mulighed3:active {
	transform: scale(0.75);
}

/*
.birgit {
	color: #c41c1c;
}
*/

.chattype {
	position: absolute;
	top: 50vw;
	left: 1vw;
	width: 50vw;
	height: 12vw;
	font-size: 2.7vw;
	display: none;
	/*	overflow: hidden;
	*/
}

.send {
	position: absolute;
	background-image: url(Img/sendknap-01.png);
	width: 14.4vw;
	height: 9vw;
	background-size: cover;
	top: 128vw;
	left: 40vw;
	z-index: 25;
}

.klik {
	animation: send_kf 2s infinite linear;
}

@keyframes send_kf {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.doctorhansen {
	z-index: 10;
	position: absolute;
	background-image: url(Img/standard-glad-01.png);
	width: 10vw;
	height: 14vw;
	background-size: cover;
	left: 1vw;
	top: 128vw;
}

.birgitjensen {

	position: absolute;
	background-image: url(Img/dameneutral-01.png);
	background-size: cover;
	width:7.5vw;
	height:10vw;
	left: 35vw;
	top: 146vw;
}

.lastscreen {
	position: absolute;
	z-index: 100;
	display: none;
	width: 71vw;
	height: 42vw;
	background-image: url(Img/tryagain-01.png);
	left: 8vw;
	z-index: 40;
	background-size: cover;
	top: 136vw;
	margin: 0 auto;
}

.retry {
	top: 22vw;
	left: 41vw;
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-image: url(Img/retry-01.png);
	background-size: cover;
}
.wrappertop{
	height: 5vw;
	font-weight: bold;
margin-top:1vw;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}
.wrappertop .some a{
	font-weight: 500;
	margin-right: 2vw;
	font-size: 2.5vw;
	color: #168f2f;
	font-family: 'Source Sans Pro';
	text-decoration: none;
	 background-color: rgba(0, 0, 0, 0.0);
}
 .wrappertop .some {
	 margin-right: 2vw;
	color: #fff;

}

.wrappertop .someright a{
	text-align: right;
	font-weight: 500;
	margin-right: 2vw;
	font-size: 2.5vw;
	color: #168f2f;
	font-family: 'Source Sans Pro';
	text-decoration: none;
	 background-color: rgba(0, 0, 0, 0.0);
}
.somebundtop {
	text-align: right;
	font-weight: 400;
	font-size: 2vw;
	font-family:  'Source Sans Pro';
	color: white;
	margin-bottom: 0;
	margin-top: 0;
}
.somebundtop  a{
	text-decoration: none;
	color: white;
}

.wrapper{

	 position: absolute;
	top: 95%;
	height:18vw;
	display: flex;
	background-color: #000;
	width: 100%
}

 .wrapper .some {
	 height:10vw;
	 width: 50vw;
	 margin-top: 2vw;
	 margin-right: 2vw;
	color: #fff;
	 background-color: #000;
	font-family:  'Source Sans Pro';
	text-decoration: none;
}

.somebund {
	text-align: right;
	font-size: 3vw;
	text-decoration: none;
	font-family:  'Source Sans Pro';
	color: grey;
	margin-bottom: 1vw;
	margin-top: 1.7vw
}
.wrapper .somebund a img {
	width: 10%;
	border-radius: 30%;
	border: 2px solid #fff;
	padding-bottom: 0;
	margin-top: 1vw;
}
.callto{
	height: 4vw;
	text-align: center;
	font-weight: bold;
		width: 100%;
	}

/*
#top-image {
background:url('images_turen/cs_flovding_bg_pot_light_30.png') -25px -50px;
position:fixed;
width:100%;
  height:100%;
  background-size: calc(100% + 50px);
}
*/

@media screen and (min-width: 767px) and (orientation: landscape) {
	body {
	height: 100%;
	background-size: 100%;
		background-image: url(images_turen/tabletlandskab-1024%20x768.jpg);
	}
	.wrapper{

	 position: absolute;
	top: 95%;
	height:12vw;
	display: flex;
	background-color: #000;
	width: 100%
}
	.wrapper .somebund a img {
	width: 10%;
	border-radius: 30%;
	border: 2px solid #fff;
	padding-bottom: 0;
	margin-top: 1vw;
}
/*
	#top-image {
background:url('images_turen/cs_flovding_bg_light_30.png') -25px -50px;
position:fixed;
width:100%;
  height:100%;
  background-size: calc(100% + 50px);
}
*/
	.logologin1 img{
		height: 35%;
	width: 35%;
		background-repeat: no-repeat;
	}
	.logologin2{
	display: flex;

	}
.logologin2 img{
	padding-top: 12vw;
		height: 50%;
	width: 50%;
		background-repeat: no-repeat;
	}

.valg {
	position: absolute;
	left: 56vw;
	top:71vw;
	width: 40vw;
	height: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.8vw;
	z-index: 10;
}

.mulighed {
	display: none;
	z-index: 0;
	display: none;
	border-radius: 1vw;
	width: 40vw;
	height: 10vw;
	max-width: 100%;
	background-color: rgba(64, 64, 64, 0.7);
	color: white;
	padding: 0.5vw;
	text-align: center;
}

.birgitsvar {
	display: none;
	z-index: 0;
	width: 40vw;
	background-color: rgba(4, 121, 190, 0.7);
}

.mulighed1:hover,
.mulighed2:hover,
.mulighed3:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.mulighed1:active,
.mulighed2:active,
.mulighed3:active {
	transform: scale(0.75);
}

/*
.birgit {
	color: #c41c1c;
}
*/
	.callto{
		width: 100%;
	}
.chattype {
	position: absolute;
	top: 50vw;
	left: 1vw;
	width: 50vw;
	height: 12vw;
	font-size: 2.7vw;
	display: none;
	/*	overflow: hidden;
	*/
}
.prikker {
	z-index: 25;
	position: absolute;
	top: 97vw;
	left: 2vw;
width: 2.5vw;
	height: 2.5vw;
	z-index: 15;
	background-image: url(Img/prikker-01.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: prik_kf 0.8s infinite steps(5);
}

@keyframes prik_kf {
	0% {
		background-position: 0vw;
	}
	100% {
		background-position: -12.5vw;
	}
}

.send {
	position: absolute;
	background-image: url(Img/sendknap-01.png);
	width: 14.4vw;
	height: 9vw;
	background-size: cover;
	top: 71vw;
	left: 40vw;
	z-index: 25;
}

.klik {
	animation: send_kf 2s infinite linear;
}

@keyframes send_kf {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.doctorhansen {
	z-index: 10;
	position: absolute;
	background-image: url(Img/standard-glad-01.png);
	width: 10vw;
	height: 14vw;
	background-size: cover;
	left: 1vw;
	top:71vw;
}

.birgitjensen {

	position: absolute;
	background-image: url(Img/dameneutral-01.png);
	background-size: cover;
	width:7.5vw;
	height:10vw;
	left: 35vw;
	top: 90vw;
}

.lastscreen {
	z-index: 100;
	display: none;
	width: 71vw;
	height: 42vw;
	background-image: url(Img/tryagain-01.png);
	position: absolute;
	left: 8vw;
	z-index: 40;
	background-size: cover;
	top: 80vw;
	margin: 0 auto;
}

.retry {
	top: 22vw;
	left: 41vw;
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-image: url(Img/retry-01.png);
	background-size: cover;
}
	.chatroom {
	position: absolute;
	background-size: 100%;
	background-image: url(Img/Chatroom8-01.jpg);
	/*	background-size: cover;*/
	width: 100%;
	height:71%;
	/*	overflow: hidden;
	*/
	margin: 0 auto;
	background-repeat: no-repeat;
}
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
	body {
	width:  100%;
	background-size: 100%;
		background-image: url(images_turen/tabletlandskab-1024%20x768.jpg);
	}
	.wrapper .somebund a img {
	width: 6%;
	border-radius: 30%;
	border: 2px solid #fff;
	padding-bottom: 0;
	margin-top: 1vw;
}
	#top-image {
background:url('images_turen/cs_flovding_bg_light_30_3333.png') -25px -50px;
width:100%;
  height:100%;
  background-size: calc(100% + 50px);
}
	.logologin1 img{
		height: 35%;
	width: 35%;
		background-repeat: no-repeat;
	}
	.logologin2{
	display: flex;

	}
.logologin2 img{
	padding-top: 12vw;
		height: 50%;
	width: 50%;
		background-repeat: no-repeat;
	}

.valg {
	position: absolute;
	left: 56vw;
	top:70vw;
	width: 40vw;
	height: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.8vw;
	z-index: 10;
}

.mulighed {
	display: none;
	z-index: 0;
	display: none;
	border-radius: 1vw;
	width: 40vw;
	height: 10vw;
	max-width: 100%;
	background-color: rgba(64, 64, 64, 0.7);
	color: white;
	padding: 0.5vw;
	text-align: center;
}

.birgitsvar {
	display: none;
	z-index: 0;
	width: 40vw;
	background-color: rgba(4, 121, 190, 0.7);
}

.mulighed1:hover,
.mulighed2:hover,
.mulighed3:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.mulighed1:active,
.mulighed2:active,
.mulighed3:active {
	transform: scale(0.75);
}

/*
.birgit {
	color: #c41c1c;
}
*/
	.callto{
		width: 100%;
	}
.chattype {
	position: absolute;
	top: 50vw;
	left: 1vw;
	width: 50vw;
	height: 12vw;
	font-size: 2.7vw;
	display: none;
	/*	overflow: hidden;
	*/
}
.prikker {
	z-index: 25;
	position: absolute;
	top: 82vw;
	left: 2vw;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 15;
	background-image: url(Img/prikker-01.png);

	background-size: cover;
	background-repeat: no-repeat;
	animation: prik_kf 0.8s infinite steps(5);
}

@keyframes prik_kf {
	 80% {
        background-position: 100% 0;
    }
    81% {
        background-position: 0% 0;
    }
}

.send {
	position: absolute;
	background-image: url(Img/sendknap-01.png);
	width: 14.4vw;
	height: 9vw;
	background-size: cover;
	top: 70vw;
	left: 40vw;
	z-index: 25;
}

.klik {
	animation: send_kf 2s infinite linear;
}

@keyframes send_kf {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.doctorhansen {
	z-index: 10;
	position: absolute;
	background-image: url(Img/standard-glad-01.png);
	width: 10vw;
	height: 14vw;
	background-size: cover;
	left: 1vw;
	top:70vw;
}

.birgitjensen {

	position: absolute;
	background-image: url(Img/dameneutral-01.png);
	background-size: cover;
	width:7.5vw;
	height:10vw;
	left: 35vw;
	top: 90vw;
}

.lastscreen {
	z-index: 100;
	display: none;
	width: 71vw;
	height: 42vw;
	background-image: url(Img/tryagain-01.png);
	position: absolute;
	left: 8vw;
	z-index: 40;
	background-size: cover;
	top: 80vw;
	margin: 0 auto;
}

.retry {
	top: 22vw;
	left: 41vw;
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-image: url(Img/retry-01.png);
	background-size: cover;
}
.chatroom {
	position: absolute;
	background-size: 100%;
	background-image: url(Img/Chatroom8-01.jpg);
	/*	background-size: cover;*/
	width: 100%;
	height: 52vw;
	/*	overflow: hidden;
	*/
	margin: 0 auto;
	background-repeat: no-repeat;
}
	.wrapper{

	 position: absolute;
	top: 95%;
	height:12vw;
	display: flex;
	background-color: #000;
	width: 100%
}
}
