@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
* {
	font-family: 'Source Sans Pro';
	margin: 0 auto;
}

body {
	position: relative;
	background-size: 100%;
		width: 100%;
	height: 100%;
	background-size: 100%;
		background-image: url(images_turen/tabletpotrat-768%20x%201024.jpg);
	}
h1 {
	font-family: 'Source Sans Pro';
	padding-bottom: 2vw;
	font-size: 4vw;
	color: rgb(255, 255, 255);
	line-height: 1vw;
}

h5 {
	line-height: 3vw;
	font-family: 'Source Sans Pro';
	font-size: 2vw;
	padding-bottom: 1vw;
	color: rgb(255, 255, 255);
}
h6{
		font-size: 2.5vw;
		color:white
	}

.logologin1 img{
	margin-top: 9vw;
		height: 100%;
	width: 100%;
		background-repeat: no-repeat;
	}
.logologin2 img{
	height: 100%;
	width: 100%;
	margin-top: 0vw;
	top: 0vw;
		background-repeat: no-repeat;
	}
.roomers {
	position: absolute;
	background-size: 100%;
	background-image: url(images_sitet/roomers-01.jpg);
	width: 100%;
	height:51vw;
	margin: 0 auto;
	background-repeat: no-repeat;
}
 h2{
	 margin-top: 0vw;
	 font-weight: 500;
	 text-align: center;
	padding-top: 0vw;
	font-family: 'Source Sans Pro';
	font-size: 2.3vw;
	color:#f51021;
}

.motiver {
	z-index: 25;
	position: absolute;
	top: 136vw;
	left: 2vw;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 15;
	background-image: url(images_sitet/motiver-01.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: motiv_kf 0.8s infinite steps(5);
}

@keyframes motiv_kf {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0% 0;
	}
}

.social-nav a{
	z-index: 10;
	color:lightgoldenrodyellow;
}
.aforside{
	transition: ease-in-out 1s;
	background-color: black;
}
.apartiinfo{
	transition: ease-in-out 1s;
	background-color: black;
}
.avalgetinfo{
	transition: ease-in-out 1s;
	background-color: black;
}
.akonkurrence{
	transition: ease-in-out 1s;
	background-color: black;
}
.akontakt{
	transition: ease-in-out 1s;
	background-color: black;
}

a {
	color: grey;
}

.valget {
	position: absolute;
	left: 56vw;
	top: 124vw;
	width: 40vw;
	height: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.8vw;
	z-index: 10;
}

.mulige {
	display: none;
	z-index: 0;
	display: none;
	border-radius: 1vw;
	width: 40vw;
	height: 10vw;
	max-width: 100%;
	background-color: rgba(64, 64, 64, 0.7);
	color: white;
	padding: 0.5vw;
	text-align: center;
}

.avatarsvar {
	display: none;
	z-index: 0;
	width: 40vw;
	background-color: rgba(4, 121, 190, 0.7);
}

.mulige1:hover,
.mulige2:hover,
.mulige3:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.mulige1:active,
.mulige2:active,
.mulige3:active {
	transform: scale(0.55);
}

/*
.avatar {
	color: #c41c1c;
}
*/

.starter {
	position: absolute;
	background-image: url(images_sitet/startknap-01.png);
	width: 14.4vw;
	height: 9vw;
	background-size: cover;
	top: 124vw;
	left: 40vw;
	z-index: 25;
}

.klikken {
	animation: sender_kf 2s infinite linear;
}

@keyframes sender_kf {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.doctorsen {
	z-index: 10;
	position: absolute;
	background-image: url(images_sitet/vand-01.png);
	width: 10vw;
	height: 14vw;
	background-size: cover;
	left: 1vw;
	top: 124vw;
}

.avatarsin {

	position: absolute;
	background-image: url(images_sitet/neutral-01.png);
	background-size: cover;
	width:12vw;
	height:16vw;
	left: 35vw;
	top: 137vw;
}

.screenes {
	position: absolute;
	z-index: 100;
	display: none;
	width: 71vw;
	height: 42vw;
	background-image: url(images_sitet/tryagain-01.png);
	left: 8vw;
	z-index: 40;
	background-size: cover;
	top: 130vw;
	margin: 0 auto;
}
.affixbar {
	text-align: center;
	background-color: rgba(72, 38, 37, 0.5);
	color:#fff;
	height:10vw;
}
.affix {
	z-index: 25;
      top: 0;
      width: 100%;
  }
.nav {
	z-index: 10;
	font-size: 2.5vw;
	font-weight: bolder;
}

.navbar {
	background-color: rgba(72, 38, 37, 0.52);
}

ul {
	margin-bottom: 1vw;
	margin-top: 1vw;
	font-size: 2.5vw;
}

#myNavbar ul li a {
	color: #168f2f;
}

ol {
	color: #000;
}
.votingcard {
	top: 24vw;
	left: 42vw;
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-image: url(images_sitet/votingcard-01.png);
	background-size: cover;
}

.somebundtop {
	text-align: right;
	font-weight: 400;
	font-size: 2vw;
	font-family:  'Source Sans Pro';
	color: white;
	margin-bottom: 0;
	margin-top: 0;
}
.somebundtop  a{
	text-decoration: none;
	color: white;
}

footer{

	 position: absolute;
	top: 95%;
	height:13vw;
	display: flex;
	background-color: #000;
	width: 100%
}

 footer .some {
	 height:10vw;
	 width: 50vw;
	 margin-top: 2vw;
	 margin-right: 2vw;
	  margin-left: 2vw;
	color: #fff;
	 background-color: #000;
	font-family:  'Source Sans Pro';
	text-decoration: none;
}

.somebund {
	text-align: right;
	font-size: 3vw;
	text-decoration: none;
	font-family:  'Source Sans Pro';
	color: grey;
	margin-bottom: 1vw;
	margin-top: 1.7vw
}
footer .somebund a img {
	width: 10%;
	border-radius: 30%;
	border: 2px solid #fff;
	padding-bottom: 0;
	margin-top: 1vw;
}


@media screen and (min-width: 768px) and (orientation: landscape) {
	body {
	height: 100%;
	background-size: 100%;
		background-image: url(images_turen/tabletlandskab-1024%20x768.jpg);
	}
	.nav {
	z-index: 10;
	font-size: 2.5vw;
	font-weight: bolder;
}

	.affixbar {
	text-align: center;
	background-color: rgba(153, 123, 187, 0);
	color:#fff;
	height: 7vw;
}
footer{
	 position: absolute;
	top: 100%;
	height:9vw;
	display: flex;
	background-color: #000;
	width: 100%
}
	footer .some {
	 height:6vw;
	 width: 50vw;
	 margin-top: 2vw;
	 margin-right: 2vw;
		 margin-left: 2vw;
	color: #fff;
	 background-color: #000;
	font-family:  'Source Sans Pro';
	text-decoration: none;
}
	footer .somebund a img {
	width: 6%;
	border-radius: 30%;
	border: 2px solid #fff;
	padding-bottom: 0;
	margin-top: 1vw;
}

	.logologin1 img{
		height: 55%;
	width: 55%;
		background-repeat: no-repeat;
	}
	.logologin2{
	display: flex;

	}
.logologin2 img{
	padding-top: 12vw;
		height: 50%;
	width: 50%;
		background-repeat: no-repeat;
	}

.valget {
	position: absolute;
	left: 56vw;
	top:82vw;
	width: 40vw;
	height: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.8vw;
	z-index: 10;
}

.avatarsvar {
	display: none;
	z-index: 0;
	width: 40vw;
	background-color: rgba(4, 121, 190, 0.7);
}

.mulige1:hover,
.mulige2:hover,
.mulige3:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.mulige1:active,
.mulige2:active,
.mulige3:active {
	transform: scale(0.55) 2s;
}

.motiver {
	z-index: 25;
	position: absolute;
	top: 94vw;
	left: 2vw;
width: 2.5vw;
	height: 2.5vw;
	z-index: 15;
	background-image: url(images_sitet/motiver-01.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: motiv_kf 0.8s infinite steps(5);
}

@keyframes motiv_kf {
	0% {
		background-position: 0vw;
	}
	100% {
		background-position: -12.5vw;
	}
}

.starter {
	position: absolute;
	background-image: url(images_sitet/startknap-01.png);
	width: 14.4vw;
	height: 9vw;
	background-size: cover;
	top: 82vw;
	left: 40vw;
	z-index: 25;
}

.klikken {
	animation: sender_kf 2s infinite linear;
}

@keyframes sender_kf {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.doctorsen {
	z-index: 10;
	position: absolute;
	background-image: url(images_sitet/vand-01.png);
	width: 10vw;
	height: 14vw;
	background-size: cover;
	left: 1vw;
	top:82vw;
}

.avatarsin {

	position: absolute;
	background-image: url(images_sitet/neutral-01.png);
	background-size: cover;
	width:12vw;
	height:16vw;
	left: 35vw;
	top: 95vw;
}

.screenes {
	z-index: 100;
	display: none;
	width: 71vw;
	height: 42vw;
	background-image: url(images_sitet/tryagain-01.png);
	position: absolute;
	left: 8vw;
	z-index: 40;
	background-size: cover;
	top: 88vw;
	margin: 0 auto;
}

.votingcard {
	top: 24vw;
	left: 42vw;
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-image: url(images_sitet/votingcard-01.png);
	background-size: cover;
}
	.roomers {
	position: absolute;
	background-size: 100%;
	background-image: url(images_sitet/roomers-01.jpg);
	width: 100%;
	height:60%;
	margin: 0 auto;
	background-repeat: no-repeat;
}
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
	body {
	width:  100%;
	background-size: 100%;
		background-image: url(images_turen/tabletlandskab-1024%20x768.jpg);
	}
	h2{
	 font-weight: 500;
	 text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 2.3vw;
	color:#f51021;
/*	color:#3f0000;*/
}
	.nav {
	z-index: 10;
	font-size: 2.5vw;
	font-weight: bolder;
}

	.affixbar {
	text-align: center;
	background-color: rgba(153, 123, 187, 0);
	color:#fff;
	height:5.0vw;
}
	footer{
	 position: absolute;
	top: 95%;
	height:8vw;
	display: flex;
	background-color: #000;
	width: 100%
}
	footer .some {
	 height:6vw;
	 width: 50vw;
	 margin-top: 2vw;
	 margin-right: 2vw;
		margin-left: 2vw;
	color: #fff;
	 background-color: #000;
	font-family:  'Source Sans Pro';
	text-decoration: none;
}

	footer .somebund a img {
	width: 6%;
	border-radius: 30%;
	border: 2px solid #fff;
	padding-bottom: 0;
	margin-top: 1vw;
}

	#top-image {
background:url('images_turen/cs_flovding_bg_light_30_3333.png') -25px -50px;
width:100%;
  height:100%;
  background-size: calc(100% + 50px);
}
	.logologin1 img{
		height: 55%;
	width: 55%;
		background-repeat: no-repeat;
	}
	.logologin2{
	display: flex;

	}
.logologin2 img{
	padding-top: 12vw;
		height: 50%;
	width: 50%;
		background-repeat: no-repeat;
	}

.valget {
	position: absolute;
	left: 56vw;
	top:80vw;
	width: 40vw;
	height: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.8vw;
	z-index: 10;
}



.avatarsvar {
	display: none;
	z-index: 0;
	width: 40vw;
	background-color: rgba(4, 121, 190, 0.7);
}

.mulige1:hover,
.mulige2:hover,
.mulige3:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.mulige1:active,
.mulige2:active,
.mulige3:active {
	transform: scale(0.55) 2s;
}

.motiver {
	z-index: 25;
	position: absolute;
	top: 92vw;
	left: 2vw;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 15;
	background-image: url(images_sitet/motiver-01.png);

	background-size: cover;
	background-repeat: no-repeat;
	animation: motiv_kf 0.8s infinite steps(5);
}

@keyframes motiv_kf {
	 0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

.starter {
	position: absolute;
	background-image: url(images_sitet/startknap-01.png);
	width: 14.4vw;
	height: 9vw;
	background-size: cover;
	top: 80vw;
	left: 40vw;
	z-index: 25;
}

.klikken {
	animation: sender_kf 2s infinite linear;
}

@keyframes sender_kf {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

.doctorsen {
	z-index: 10;
	position: absolute;
	background-image: url(images_sitet/vand-01.png);
	width: 10vw;
	height: 14vw;
	background-size: cover;
	left: 1vw;
	top:80vw;
}

.avatarsin {

	position: absolute;
	background-image: url(images_sitet/neutral-01.png);
	background-size: cover;
	width:12vw;
	height:16vw;
	left: 35vw;
	top: 95vw;
}

.screenes {
	z-index: 100;
	display: none;
	width: 71vw;
	height: 42vw;
	background-image: url(images_sitet/tryagain-01.png);
	position: absolute;
	left: 8vw;
	z-index: 40;
	background-size: cover;
	top: 88vw;
	margin: 0 auto;
}

.votingcard {
	top: 24vw;
	left: 41vw;
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-image: url(images_sitet/votingcard-01.png);
	background-size: cover;
}
.roomers {
	position: absolute;
	background-size: 100%;
	background-image: url(images_sitet/roomers-01.jpg);
	/*	background-size: cover;*/
	width: 100%;
	height: 52vw;
	/*	overflow: hidden;
	*/
	margin: 0 auto;
	background-repeat: no-repeat;
}

}
